<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>番剧风格分析</title>
</head>
<body>
<h1>番剧风格分析</h1>
<div id="word_cloud_anime" class="tags_analy_wordcloud" style="width:100%;height: 520px"></div>
<div id="chart_animation_tags" class="tags_analy" style="width:100%;height: 520px"></div>
<div id="chart_100anime_tags" class="tags_analy_100" style="width:100%;height: 520px"></div>
</body>
<script src="/static/assets/js/jquery-2.2.1.min.js"></script>
<script src="/static/assets/js/bootstrap.min.js"></script>
<script src="/static/assets/js/common.js"></script>

<script src="/static/assets/js/echart3.js"></script>
<script src="/static/assets/js/echarts-wordcloud.js"></script>


<script src="/static/assets/js/echarts.min.js"></script>
<script src="/static/assets/js/dataTool.js"></script>
<script src="/static/assets/js/china.js"></script>
<script src="/static/assets/js/tagcanvas.min.js"></script>
<script src="/static/assets/js/area.js"></script>

<script src="/static/assets/main/animation_tags_analy.js"></script>
</html>