<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta name="referrer" content="no-referrer">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>视频分析结果</title>
    <style>
    ._79Bvjtqd ._vnJ4DKWr {
        align-items: flex-end;
        display: flex;
        height: 40px;
        margin-bottom: 24px;
        position: relative;
    }
    .comment_show{
        overflow: scroll;
        width: 100%;
        height: 400px;
    }
    .comment_Analy{
        width: 100%;
        height: 400px;
    }
    .main_table_btn8{
        width:100%;
        height:400px;
    }
    .media-info-count .media-info-count-item.media-info-count-item-play {
    width: 76px;
    text-indent: 0;
}
.media-info-count .media-info-count-item span {
    line-height: 12px;
}
.media-info-count .media-info-count-item * {
    color: #000;
    display: block;
}
.media-info-count .media-info-count-item {
    display: inline-block;
    width: 96px;
    border-right: 1px solid #fff;
    text-indent: 14px;
    height: 34px;
}
.media-info-count {
    font-size: 12px;
    color: #222;
    line-height: 1;
    float: left;
    margin-left: 20px;
}
.media-info-label{
    margin-bottom: 2px;
}
.introduction{
    margin-top: 12px;
    margin-left: 20px;
    margin-right: 12px;
    font-size: 13px;
    line-height: 16px;

}

element.style {
}
.media-info-score-content{
    display: inline-block;
    vertical-align: top;
    height: 36px;
}
.media-info-score-content {
    margin: 0 7px 0 0;
    text-align: right;
    color: #ffa726;
    font-size: 36px;
    line-height: 36px;
}

.tag-area {
    position: relative;
}
.tag-area > li {
    float: left;
    margin: 0 12px 8px 0;
    position: relative;
}
.tag-link {
    color: #61666D;
    z-index: 10;
    height: 28px;
    line-height: 28px;
    display: inline-block;
    font-size: 13px;
    padding: 0 12px;
    box-sizing: border-box;
    background: #F1F2F3;
    border-radius: 100px;
    transition: all 0.3s;
}
.like-area {
    color: #61666D;
    z-index: 10;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    font-size: 15px;
    padding: 0 12px;
    box-sizing: border-box;
    background: #fff1f5;
    border-radius: 10px;
    transition: all 0.3s;
}
.card-action {
    position: relative;
    background-color: inherit;
    border-top: 1px solid rgba(160,160,160,0.2);
    padding: 20px;
    font-weight: bold;
}
.search-box {
            font-family: FontAwesome;
            position: absolute;
            top: 30%;
            left: 27%;
            transform: translate(-50%, -50%);
            background: #ffffff;
            height: 40px;
            border: 10px;
            border-radius: 40px;
            padding: 10px;
            opacity: 0;
            transition-delay: 99999999s;
            transition-duration: 1s;
        }


        .search-box:hover > .search-btn {
            color: white;
            background: black;
        }

        .search-btn {
            position:absolute;
            margin-left: 180px;

            transition: 0.5s;
            font-family: FontAwesome;
            font-size: 25px;
            color: black;
            float: right;
            width: 40px;
            height: 40px;
            border: 10px;
            border-radius: 50%;
            background: #ffffff;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
        }

        .search-txt {
            border: none;
            background: none;
            outline: none;
            float: left;
            padding: 0;
            color: rgb(51, 159, 150);
            font-size: 16px;
            transition: 0.6s;
            line-height: 50px;
            width: 0px;
        }


        html:hover .search-box {
            opacity: 1;
            transition-delay: 0s;
            transition-duration: 0s;
        }
    </style>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/static/assets/materialize/css/materialize.min.css" media="screen,projection"/>
    <!-- Bootstrap Styles-->
    <link href="/static/assets/css/bootstrap.css" rel="stylesheet"/>
    <!-- FontAwesome Styles-->
    <link href="/static/assets/css/font-awesome.css" rel="stylesheet"/>
    <!-- Morris Chart Styles-->
    <link href="/static/assets/js/morris/morris-0.4.3.min.css" rel="stylesheet"/>
    <!-- Custom Styles-->
    <link href="/static/assets/css/custom-styles.css" rel="stylesheet"/>
    <!-- Google Fonts-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>
    <link rel="stylesheet" href="/static/assets/js/Lightweight-Chart/cssCharts.css">

</head>

<body>
<div id="wrapper">
    <nav class="navbar navbar-default top-navbar" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand waves-effect waves-dark" href="index.html"><i class="large material-icons">insert_chart</i>
                <strong>bilibili数据分析</strong></a>

            <div id="sideNav" href="">
                <i class="material-icons dp48">toc</i>
            </div>
            <div class="search-box">
                    <input class="search-txt" type='text' id='inp' placeholder="What are you looking for?"/>
                    <input class="search-btn" type='button' id='btn' value='&#xf002'/>
                </div>

        </div>

        <ul class="nav navbar-top-links navbar-right">
            <li><a class="dropdown-button waves-effect waves-dark" href="#!" data-activates="dropdown4"><i
                    class="fa fa-envelope fa-fw"></i> <i class="material-icons right">arrow_drop_down</i></a></li>
            <li><a class="dropdown-button waves-effect waves-dark" href="#!" data-activates="dropdown3"><i
                    class="fa fa-tasks fa-fw"></i> <i class="material-icons right">arrow_drop_down</i></a></li>
            <li><a class="dropdown-button waves-effect waves-dark" href="#!" data-activates="dropdown2"><i
                    class="fa fa-bell fa-fw"></i> <i class="material-icons right">arrow_drop_down</i></a></li>
            <li><a class="dropdown-button waves-effect waves-dark" href="#!" data-activates="dropdown1"><i
                    class="fa fa-user fa-fw"></i> <b>John Doe</b> <i
                    class="material-icons right">arrow_drop_down</i></a></li>
        </ul>
    </nav>
    <!-- Dropdown Structure -->
    <ul id="dropdown1" class="dropdown-content">
        <li><a href="#"><i class="fa fa-user fa-fw"></i> My Profile</a>
        </li>
        <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
        </li>
        <li><a href="#"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
        </li>
    </ul>
    <ul id="dropdown2" class="dropdown-content w250">
        <li>
            <a href="#">
                <div>
                    <i class="fa fa-comment fa-fw"></i> New Comment
                    <span class="pull-right text-muted small">4 min</span>
                </div>
            </a>
        </li>
        <li class="divider"></li>
        <li>
            <a href="#">
                <div>
                    <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                    <span class="pull-right text-muted small">12 min</span>
                </div>
            </a>
        </li>
        <li class="divider"></li>
        <li>
            <a href="#">
                <div>
                    <i class="fa fa-envelope fa-fw"></i> Message Sent
                    <span class="pull-right text-muted small">4 min</span>
                </div>
            </a>
        </li>
        <li class="divider"></li>
        <li>
            <a href="#">
                <div>
                    <i class="fa fa-tasks fa-fw"></i> New Task
                    <span class="pull-right text-muted small">4 min</span>
                </div>
            </a>
        </li>
        <li class="divider"></li>
        <li>
            <a href="#">
                <div>
                    <i class="fa fa-upload fa-fw"></i> Server Rebooted
                    <span class="pull-right text-muted small">4 min</span>
                </div>
            </a>
        </li>
        <li class="divider"></li>
        <li>
            <a class="text-center" href="#">
                <strong>See All Alerts</strong>
                <i class="fa fa-angle-right"></i>
            </a>
        </li>
    </ul>
    <ul id="dropdown3" class="dropdown-content dropdown-tasks w250">
        <li>
            <a href="#">
                <div>
                    <p>
                        <strong>Task 1</strong>
                        <span class="pull-right text-muted">60% Complete</span>
                    </p>
                    <div class="progress progress-striped active">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60"
                             aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                            <span class="sr-only">60% Complete (success)</span>
                        </div>
                    </div>
                </div>
            </a>
        </li>
        <li class="divider"></li>
        <li>
            <a href="#">
                <div>
                    <p>
                        <strong>Task 2</strong>
                        <span class="pull-right text-muted">28% Complete</span>
                    </p>
                    <div class="progress progress-striped active">
                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="28"
                             aria-valuemin="0" aria-valuemax="100" style="width: 28%">
                            <span class="sr-only">28% Complete</span>
                        </div>
                    </div>
                </div>
            </a>
        </li>
        <li class="divider"></li>
        <li>
            <a href="#">
                <div>
                    <p>
                        <strong>Task 3</strong>
                        <span class="pull-right text-muted">60% Complete</span>
                    </p>
                    <div class="progress progress-striped active">
                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60"
                             aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                            <span class="sr-only">60% Complete (warning)</span>
                        </div>
                    </div>
                </div>
            </a>
        </li>
        <li class="divider"></li>
        <li>
            <a href="#">
                <div>
                    <p>
                        <strong>Task 4</strong>
                        <span class="pull-right text-muted">85% Complete</span>
                    </p>
                    <div class="progress progress-striped active">
                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="85"
                             aria-valuemin="0" aria-valuemax="100" style="width: 85%">
                            <span class="sr-only">85% Complete (danger)</span>
                        </div>
                    </div>
                </div>
            </a>
        </li>
        <li class="divider"></li>
        <li>
    </ul>
    <ul id="dropdown4" class="dropdown-content dropdown-tasks w250">
        <li>
            <a href="#">
                <div>
                    <strong>John Doe</strong>
                    <span class="pull-right text-muted">
                                        <em>Today</em>
                                    </span>
                </div>
                <div>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s...</div>
            </a>
        </li>
        <li class="divider"></li>
        <li>
            <a href="#">
                <div>
                    <strong>John Smith</strong>
                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                </div>
                <div>Lorem Ipsum has been the industry's standard dummy text ever since an kwilnw...</div>
            </a>
        </li>
        <li class="divider"></li>
        <li>
            <a href="#">
                <div>
                    <strong>John Smith</strong>
                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                </div>
                <div>Lorem Ipsum has been the industry's standard dummy text ever since the...</div>
            </a>
        </li>
        <li class="divider"></li>
        <li>
            <a class="text-center" href="#">
                <strong>Read All Messages</strong>
                <i class="fa fa-angle-right"></i>
            </a>
        </li>
    </ul>
    <!--/. NAV TOP  -->
    <!--/. NAV TOP  -->
    <nav class="navbar-default navbar-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="main-menu">
                <li>
                    <a href="/search/box" class="active-menu waves-effect waves-dark"><i class="fa fa-bar-chart-o"></i> 视频搜索</a>
                </li>

                <li>
                    <a href="#" class="waves-effect waves-dark"><i class="fa fa-sitemap"></i> up主分析<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="/up/show100up">百大up主信息</a>
                        </li>
                        <li>
                            <a href="/up/trend">百大up主创作流行趋势</a>
                        </li>
                        <li>
                            <a href="/up/fans">百大up主粉丝统计图</a>
                        </li>
                        <li>
                            <a href="/up/showMostPopularUp">最受欢迎up主</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="/guichu/main" class="waves-effect waves-dark"><i class="fa fa-bar-chart-o"></i> 鬼畜分析</a>
                </li>
                <li>
                    <a href="#" class="waves-effect waves-dark"><i class="fa fa-sitemap"></i>番剧分析<span
                            class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="/animation/show100animation">排行榜</a>
                        </li>
                        <li>
                            <a href="/animation/animeTags">风格统计</a>
                        </li>
                        <li>
                            <a href="/animation/score">评分统计</a>
                        </li>
                        <li>
                            <a href="/animation/area">地区统计</a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="#" class="waves-effect waves-dark"><i class="fa fa-sitemap"></i>热门视频<span
                            class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="/video/showhot?partition=guichu">鬼畜区hot100</a>
                        </li>
                        <li>
                            <a href="/video/showhot?partition=food">美食区hot100</a>
                        </li>
                        <li>
                            <a href="/video/showhot?partition=music">音乐区hot100</a>
                        </li>
                        <li>
                            <a href="/video/showhot?partition=movie">影视区hot100</a>
                        </li>
                        <li>
                            <a href="/video/showhot?partition=game">游戏区hot100</a>
                        </li>

                    </ul>
                </li>
            </ul>

        </div>

    </nav>
    <!-- /. NAV SIDE  -->
    <div id="page-wrapper">
        <div class="header">
            <h1 class="page-header">
                视频分析
            </h1>
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li><a href="#">search_video</a></li>
                <li class="active">Data</li>
            </ol>
        </div>
        <div id="page-inner">
            <!--            信息展示-->
            <div id="all-info-show">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">

                            <div class="card-action" style="display:flex">
                                <div class="_M7ywfuou">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="43" height="40" viewBox="0 0 43 40">
                                        <path data-name="\u8DEF\u5F84 14383"
                                              d="M35.475 7.634h-4.484l3.932-3.943A2.154 2.154 0 0 0 31.882.639L24.91 7.633h-6.819l-6.969-7a2.156 2.156 0 0 0-3.044 3.055l3.932 3.946H7.52a7.537 7.537 0 0 0-7.525 7.552v17.262A7.537 7.537 0 0 0 7.52 40h27.95a7.539 7.539 0 0 0 7.525-7.552V15.185a7.539 7.539 0 0 0-7.52-7.551ZM15.05 22.158a2.15 2.15 0 1 1-4.3 0v-4.316a2.151 2.151 0 0 1 2.147-2.157 2.154 2.154 0 0 1 2.15 2.157Zm17.2 0a2.15 2.15 0 1 1-4.3 0v-4.316a2.151 2.151 0 0 1 2.147-2.157 2.154 2.154 0 0 1 2.15 2.157Z"
                                              fill="#fff1f5"></path>
                                    </svg>
                                    <span class="_OvZ9CqOl">00<h>信息展示</h></span>
                                </div>
                            </div>
                            <div class="card-content  horizontal cardIcon waves-effect waves-dark" style="display:flex">

                                <div class="common-lazy-img" style="width:36%">
                                    <img alt={{data['allinfo']['name']}} src={{data['allinfo']['img']}} width="100%">
                                </div>
                                <div style="width:5%"></div>
                                <div class="media-info-r" style="width:59%">
                                    <div class="media-info-title" style="font-size: 22px;">
                                        <b class="media-info-title-t">{{data['allinfo']['name']}}</b>
                                    </div>
                                    <br>

                                    <ul class="tag-area clearfix">
                                        {% for tag in data['allinfo']['tag'].split(' ')%}
                                        <li class="tag">
                                            <div target="_blank" class="tag-link">
                                                <svg width="12" height="11" viewBox="0 0 14 12"
                                                     xmlns="http://www.w3.org/2000/svg">
                                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                                          d="M4.25 2.75C4.25 1.23122 5.48122 0 7 0C8.51878 0 9.75 1.23122 9.75 2.75C9.75 4.26878 8.51878 5.5 7 5.5C5.48122 5.5 4.25 4.26878 4.25 2.75ZM0.5 9.25C0.5 7.73122 1.73122 6.5 3.25 6.5C4.76878 6.5 6 7.73122 6 9.25C6 10.7688 4.76878 12 3.25 12C1.73122 12 0.5 10.7688 0.5 9.25ZM10.75 6.5C9.23122 6.5 8 7.73122 8 9.25C8 10.7688 9.23122 12 10.75 12C12.2688 12 13.5 10.7688 13.5 9.25C13.5 7.73122 12.2688 6.5 10.75 6.5Z"></path>
                                                </svg>
                                                {{tag}}
                                            </div>
                                        </li>
                                        {% endfor %}
                                    </ul>

                                    <br>
                                    <div class="like-area">
                                        <span> ❤ &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span><span>{{data['allinfo']['like']}}</span>
                                    </div>
                                    <div class="media-info-up">
                                        <br>
                                        <img data-v-0c3f5fbc=""
                                             src="//s1.hdslb.com/bfs/static/jinkela/popular/assets/icon_up.png" alt="up"
                                             width="20px" height=auto>
                                        <span class="media-info-up" style="font-size: 14px;">{{data['allinfo']['up']}}&nbsp;&nbsp;&nbsp;</span>
                                        <span style="font-size: 12px;"> {{data['allinfo']['time']}}</span>
                                    </div>

                                    <div class="media-info-datas" style="font-size: 16px;">
                                        <br>
                                        <span class="media-info-count-item media-info-count-item-fans">
                                        <span class="media-info-label">💰&nbsp;&nbsp;{{data['allinfo']['coin']}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                    </span>
                                        <span class="media-info-count-item media-info-count-item-review">
                                        <span class="media-info-label">🌟&nbsp;&nbsp;{{data['allinfo']['collect']}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                    </span>
                                        <span class="media-info-count-item media-info-count-item-review">
                                        <span class="media-info-label">💌&nbsp;&nbsp;{{data['allinfo']['trans']}}</span>
                                    </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!--            评论词云和快照-->
            <div id="comment-info-show">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-action">
                                <div class="_vnJ4DKWr">
                                    <div class="_M7ywfuou">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="43" height="40"
                                             viewBox="0 0 43 40">
                                            <path data-name="\u8DEF\u5F84 14383"
                                                  d="M35.475 7.634h-4.484l3.932-3.943A2.154 2.154 0 0 0 31.882.639L24.91 7.633h-6.819l-6.969-7a2.156 2.156 0 0 0-3.044 3.055l3.932 3.946H7.52a7.537 7.537 0 0 0-7.525 7.552v17.262A7.537 7.537 0 0 0 7.52 40h27.95a7.539 7.539 0 0 0 7.525-7.552V15.185a7.539 7.539 0 0 0-7.52-7.551ZM15.05 22.158a2.15 2.15 0 1 1-4.3 0v-4.316a2.151 2.151 0 0 1 2.147-2.157 2.154 2.154 0 0 1 2.15 2.157Zm17.2 0a2.15 2.15 0 1 1-4.3 0v-4.316a2.151 2.151 0 0 1 2.147-2.157 2.154 2.154 0 0 1 2.15 2.157Z"
                                                  fill="#fff1f5"></path>
                                        </svg>
                                        <span class="_OvZ9CqOl">01<h>评论词云</h></span>
                                    </div>
                                </div>
                            </div>
                            <div class="card-content">
                                <div id="searcomment_keyword" class="comment_Analy"></div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card" style="width:100%">
                            <div class="card-action">
                                <div class="_vnJ4DKWr">
                                    <div class="_M7ywfuou">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="43" height="40"
                                             viewBox="0 0 43 40">
                                            <path data-name="\u8DEF\u5F84 14383"
                                                  d="M35.475 7.634h-4.484l3.932-3.943A2.154 2.154 0 0 0 31.882.639L24.91 7.633h-6.819l-6.969-7a2.156 2.156 0 0 0-3.044 3.055l3.932 3.946H7.52a7.537 7.537 0 0 0-7.525 7.552v17.262A7.537 7.537 0 0 0 7.52 40h27.95a7.539 7.539 0 0 0 7.525-7.552V15.185a7.539 7.539 0 0 0-7.52-7.551ZM15.05 22.158a2.15 2.15 0 1 1-4.3 0v-4.316a2.151 2.151 0 0 1 2.147-2.157 2.154 2.154 0 0 1 2.15 2.157Zm17.2 0a2.15 2.15 0 1 1-4.3 0v-4.316a2.151 2.151 0 0 1 2.147-2.157 2.154 2.154 0 0 1 2.15 2.157Z"
                                                  fill="#fff1f5"></path>
                                        </svg>
                                        <span class="_OvZ9CqOl">02<h>评论快照</h></span>
                                    </div>
                                </div>
                            </div>
                            <div class="card-content">
                                <div id="searcomment10_show" class="comment_show">
                                    {% for d in range(3) %}
                                    <div class="alert alert-info">
                                        <strong>{{data["comment"][d+0]['uname']}}</strong>
                                        <span style="margin-left: 20px">❤{{data["comment"][d+0]['like']}}</span>
                                        <br>{{data["comment"][d+0]['massage']}}</br>
                                    </div>
                                    <div class="alert alert-success">
                                        <strong>{{data["comment"][d+1]['uname']}}</strong>
                                        <b>&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b>
                                        ❤{{data["comment"][d+1]['like']}}
                                        <br>{{data["comment"][d+1]['massage']}}</br>
                                    </div>
                                    <div class="alert alert-warning">
                                        <strong>{{data["comment"][d+2]['uname']}}</strong>
                                        <b>&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b>
                                        ❤{{data["comment"][d+2]['like']}}
                                        <br>{{data["comment"][d+2]['massage']}}</br>
                                    </div>
                                    <div class="alert alert-danger">
                                        <strong>{{data["comment"][d+3]['uname']}}</strong>
                                        <b>&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b>
                                        ❤{{data["comment"][d+3]['like']}}
                                        <br>{{data["comment"][d+3]['massage']}}</br>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div id="danmku-info-show">
                <!--            弹幕词云和快照-->
                <div class="row">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-action">
                                <div class="_vnJ4DKWr">
                                    <div class="_M7ywfuou">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="43" height="40"
                                             viewBox="0 0 43 40">
                                            <path data-name="\u8DEF\u5F84 14383"
                                                  d="M35.475 7.634h-4.484l3.932-3.943A2.154 2.154 0 0 0 31.882.639L24.91 7.633h-6.819l-6.969-7a2.156 2.156 0 0 0-3.044 3.055l3.932 3.946H7.52a7.537 7.537 0 0 0-7.525 7.552v17.262A7.537 7.537 0 0 0 7.52 40h27.95a7.539 7.539 0 0 0 7.525-7.552V15.185a7.539 7.539 0 0 0-7.52-7.551ZM15.05 22.158a2.15 2.15 0 1 1-4.3 0v-4.316a2.151 2.151 0 0 1 2.147-2.157 2.154 2.154 0 0 1 2.15 2.157Zm17.2 0a2.15 2.15 0 1 1-4.3 0v-4.316a2.151 2.151 0 0 1 2.147-2.157 2.154 2.154 0 0 1 2.15 2.157Z"
                                                  fill="#fff1f5"></path>
                                        </svg>
                                        <span class="_OvZ9CqOl">01<h>弹幕词云</h></span>
                                    </div>
                                </div>
                            </div>
                            <div class="card-content">
                                <div id="chart_search_dmwordcloud" class="main_table_btn8"></div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card" style="width:100%">
                            <div class="card-action">
                                <div class="_vnJ4DKWr">
                                    <div class="_M7ywfuou">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="43" height="40"
                                             viewBox="0 0 43 40">
                                            <path data-name="\u8DEF\u5F84 14383"
                                                  d="M35.475 7.634h-4.484l3.932-3.943A2.154 2.154 0 0 0 31.882.639L24.91 7.633h-6.819l-6.969-7a2.156 2.156 0 0 0-3.044 3.055l3.932 3.946H7.52a7.537 7.537 0 0 0-7.525 7.552v17.262A7.537 7.537 0 0 0 7.52 40h27.95a7.539 7.539 0 0 0 7.525-7.552V15.185a7.539 7.539 0 0 0-7.52-7.551ZM15.05 22.158a2.15 2.15 0 1 1-4.3 0v-4.316a2.151 2.151 0 0 1 2.147-2.157 2.154 2.154 0 0 1 2.15 2.157Zm17.2 0a2.15 2.15 0 1 1-4.3 0v-4.316a2.151 2.151 0 0 1 2.147-2.157 2.154 2.154 0 0 1 2.15 2.157Z"
                                                  fill="#fff1f5"></path>
                                        </svg>
                                        <span class="_OvZ9CqOl">02<h>弹幕快照</h></span>
                                    </div>
                                </div>
                            </div>
                            <div class="card-content">
                                <div id="container" class="comment_show">
                                    {% for d in range(3) %}
                                    <div class="alert alert-info">
                                        <b>{{datad[d+0]['text']}}</b>
                                    </div>
                                    <div class="alert alert-success">
                                        <b>{{datad[d+1]['text']}}</b>
                                    </div>
                                    <div class="alert alert-warning">
                                        <b>{{datad[d+2]['text']}}</b>
                                    </div>
                                    <div class="alert alert-danger">
                                        <b>{{datad[d+3]['text']}}</b>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
                <!--            弹幕浏览表-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-action">
                                <div class="_vnJ4DKWr">
                                    <div class="_M7ywfuou">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="43" height="40"
                                             viewBox="0 0 43 40">
                                            <path data-name="\u8DEF\u5F84 14383"
                                                  d="M35.475 7.634h-4.484l3.932-3.943A2.154 2.154 0 0 0 31.882.639L24.91 7.633h-6.819l-6.969-7a2.156 2.156 0 0 0-3.044 3.055l3.932 3.946H7.52a7.537 7.537 0 0 0-7.525 7.552v17.262A7.537 7.537 0 0 0 7.52 40h27.95a7.539 7.539 0 0 0 7.525-7.552V15.185a7.539 7.539 0 0 0-7.52-7.551ZM15.05 22.158a2.15 2.15 0 1 1-4.3 0v-4.316a2.151 2.151 0 0 1 2.147-2.157 2.154 2.154 0 0 1 2.15 2.157Zm17.2 0a2.15 2.15 0 1 1-4.3 0v-4.316a2.151 2.151 0 0 1 2.147-2.157 2.154 2.154 0 0 1 2.15 2.157Z"
                                                  fill="#fff1f5"></path>
                                        </svg>
                                        <span class="_OvZ9CqOl">03<h>浏览量量化统计</h></span>
                                    </div>
                                </div>
                            </div>
                            <div class="card-content">
                                <div id="chart_search_dmdt" class="main_table_btn8"></div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

<script>
    var oInp = document.getElementById('inp');
    var oBtn = document.getElementById('btn');

    oBtn.onclick = function () {
        Search();
    }

    document.onkeydown = function () {
        if (event.keyCode == 13) {
            Search();
        }
    }

    function Search() {
        var url = '/search/main?link=' + oInp.value;
        window.open(url);
    }
</script>

<script src="/static/assets/js/jquery-2.2.1.min.js"></script>
<script src="/static/assets/js/bootstrap.min.js"></script>
<script src="/static/assets/js/common.js"></script>
<script src="/static/assets/js/echarts.min.js"></script>
<script src="/static/assets/js/dataTool.js"></script>
<script src="/static/assets/js/china.js"></script>
<script src="/static/assets/js/tagcanvas.min.js"></script>
<script src="/static/assets/js/area.js"></script>

<script src="/static/assets/js/echart3.js"></script>
<script src="/static/assets/js/echarts-wordcloud.js"></script>

<script src="/static/assets/main/searchVideo_view.js"></script>

<!-- JS Scripts-->
<!-- jQuery Js -->
<script src="/static/assets/js/jquery-1.10.2.js"></script>

<!-- Bootstrap Js -->
<script src="/static/assets/js/bootstrap.min.js"></script>

<script src="/static/assets/materialize/js/materialize.min.js"></script>

<!-- Metis Menu Js -->
<script src="/static/assets/js/jquery.metisMenu.js"></script>
<!-- Morris Chart Js -->
<script src="/static/assets/js/morris/raphael-2.1.0.min.js"></script>
<script src="/static/assets/js/morris/morris.js"></script>


<script src="/static/assets/js/easypiechart.js"></script>
<script src="/static/assets/js/easypiechart-data.js"></script>

<script src="/static/assets/js/Lightweight-Chart/jquery.chart.js"></script>

<!-- Custom Js -->
<script src="/static/assets/js/custom-scripts.js"></script>



</html>
