<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="referrer" content="no-referrer">
    <title>最受欢迎up主</title>
</head>
<body>
{#<h1>最受欢迎up主</h1>#}
{#<table class="table table-striped">#}
{#    {% for up in ups %}#}
{#    <tr>#}
        {#               图片需要显示出来,点击图片跳转到该up主的主页#}
{#        <td>#}
{#            <img src="{{ up['picture_url'] }}" href="{{ up['url'] }}" target="_blank"/>#}
{#        </td>#}
{#        <td>#}
{#            up主昵称{{ up['name'] }}#}
{#        </td>#}
{#        <td>uid{{ up['uid'] }}</td>#}
{#        <td>粉丝数{{ up['fans'] }}</td>#}
{#        <td>点赞数{{ up['likes'] }}</td>#}
{#        <td>视频数0</td>#}
{#        <td>播放数{{ up['views'] }}</td>#}
{#        <td>#}
{#            {% for section in up['section'] %}#}
{#            <div>{{ section }}</div>#}
{#            {% endfor %}#}
{#        </td>#}
{#    </tr>#}
{#    {% endfor %}#}
{#</table>#}
<div id="chart_most_popular_tags" class="main_table t_btn8" style="width:100%;height:500px"></div>
<div>
    最受欢迎up主播放量前十视频
</div>
<table>
    <tr>
        <td>
            图片
        </td>
        <td>
            播放量
        </td>
        <td>
            <div>
                标题
            </div>
        </td>
        <td>
            标签
        </td>
    </tr>
    {% for video in videos %}
    <tr>
        <td>
            <a href="{{ video.url }}">
                <img src="{{ video.picture_url }}">
            </a>

        </td>
        <td>
            播放量：{{ video.views }}
        </td>
        <td>
            <div>
                {{ video.title }}
            </div>
        </td>
        <td>
            {% for tag in video['tags'] %}
            <div>{{ tag }}</div>
            {% endfor %}
        </td>
    </tr>
    {% endfor %}
</table>
</body>
<script src="/static/assets/js/jquery-2.2.1.min.js"></script>
<script src="/static/assets/js/bootstrap.min.js"></script>
<script src="/static/assets/js/common.js"></script>


<script src="/static/assets/js/echarts.js"></script>
<script src="/static/assets/js/dataTool.js"></script>
<script src="/static/assets/js/china.js"></script>
<script src="/static/assets/js/tagcanvas.min.js"></script>
<script src="/static/assets/js/area.js"></script>
<script src="/static/assets/main/show_most_popular_up_tags.js"></script>
</html>