<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="referrer" content="no-referrer">
    <title>百大up</title>
</head>
<body>
  <section id="team" class="team">
    <div class="container">
      <div class="section-title">
        <h2>百大up</h2>
      </div>
      <section class="counts section-bg">
        <div class="container">
          <table class="table table-striped">

              <tr>
                  <td>up图片</td>
                  <td>名字</td>
                  <td>粉丝数</td>
                  <td>评价</td>
              </tr>

              {% for up in ups %}
              <tr>
<!--{#               图片需要显示出来#}-->
                  <td>
                      <img src="{{up['picture_url']}}"/>
                  </td>
                  <td>
                      <a href="{{up['url'] }}" target="_blank">
                      {{ up['name'] }}
                        </a>
                  </td>
                  <td>{{up['fans']}}</td>
                  <td>{{up['evaluation']}}</td>

              </tr>

              {% endfor %}


          </table>
        </div>
      </section><!-- End Counts Section -->

    </div>
  </section><!-- End Our Team Section -->
</body>