<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{{ data['partition'] }} hot100</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/static/assets/materialize/css/materialize.min.css" media="screen,projection"/>
    <!-- Bootstrap Styles-->
    <link href="/static/assets/css/bootstrap.css" rel="stylesheet"/>
    <!-- FontAwesome Styles-->
    <link href="/static/assets/css/font-awesome.css" rel="stylesheet"/>
    <!-- Morris Chart Styles-->
    <link href="/static/assets/js/morris/morris-0.4.3.min.css" rel="stylesheet"/>
    <!-- Custom Styles-->
    <link href="/static/assets/css/custom-styles.css" rel="stylesheet"/>
    <!-- Google Fonts-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>
    <link rel="stylesheet" href="/static/assets/js/Lightweight-Chart/cssCharts.css">
</head>


<body>
<section id="team" class="team">
    <div class="container">
        <div class="section-title">
            <h2>{{data['partition']}} hot100</h2>
        </div>
        <section class="counts section-bg">
            <div class="container">
                <table class="table table-striped">

                    <tr>
                        <td>图片</td>
                        <td>标题</td>
                        <td>发布时间</td>
                        <td>up主</td>
                        <td>点赞</td>
                        <td>投币</td>
                        <td>收藏</td>
                        <td>转发</td>
                        <td>简介</td>
                        <td>标签</td>
                        <td>弹幕词云图</td>
                        <td>弹幕发送流量</td>
                    </tr>

                    {% for video in data["videos"] %}
                    <tr>
 图片需要显示出来
                        <td>
                            <img src="{{video['picture_url']}}" width="100"/>
                        </td>
                        <td>
                            <a href="{{video['url']}}" target="_blank">
                                {{video['name']}}
                            </a>
                        </td>
                        <td>{{video['time']}}</td>
                        <td>{{video['like']}}</td>
                        <td>{{video['score']}}</td>
                        <td>{{video['coin']}}</td>
                        <td>{{video['collection']}}</td>
                        <td>{{video['trans']}}</td>
                        <td>{{video['intro']}}</td>
                        <td>{{video['label']}}</td>
                        <td>
                            <a href="/video/keyword?partition={{data['partition']}}&videoid={{video['id']}}" target="_blank">
                                弹幕词云图
                            </a>
                        </td>
                        <td>
                            <a href="/video/time?partition={{data['partition']}}&videoid={{video['id']}}" target="_blank">
                                浏览量变化
                            </a>
                        </td>
                    </tr>

                    {% endfor %}


                </table>
            </div>
        </section><!-- End Counts Section -->

    </div>
</section><!-- End Our Team Section -->
</body>

</html>